@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");
body {
  font: 18px "Nunito", sans-serif;
  color: black;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: url("images/bg1.jpg");
  background-size: cover;
  -webkit-animation: bacgroudZoomAnimate 20s forwards;
          animation: bacgroudZoomAnimate 20s forwards;
}

@-webkit-keyframes bacgroudZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}

@keyframes bacgroudZoomAnimate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
.profil-card {
  box-shadow: 0 18px 200px -60px black;
  border-radius: 50px;
  width: 650px;
  position: relative;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2509803922);
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media screen and (max-width: 768px) {
  .profil-card {
    width: auto;
  }
}
.profil-card__img img {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  box-shadow: 0 10px 60px -10px rgba(12, 28, 39, 0.5);
}
.profil-card__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.profil-card__desc h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.profil-card__desc h1 + div {
  font-size: 20px;
}
.profil-card__info {
  display: flex;
  justify-content: center;
  gap: 50px;
}
@media screen and (max-width: 567px) {
  .profil-card__info {
    gap: 30px;
  }
}
.profil-card__info > div {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.profil-card__info > div > *:first-child {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 2rem;
  margin-bottom: 15px;
}
.profil-card__info > div > *:last-child {
  font-size: 16px;
  opacity: 0.7;
}
.profil-card__sosial {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profil-card__sosial a {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profil-card__sosial a {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (max-width: 768px) {
  .profil-card__sosial a:hover {
    transform: scale(1.2) translateY(-5px);
  }
}
.profil-card__sosial a.facbook {
  background: linear-gradient(45deg, #3b5998, #0078d7);
  box-shadow: 0 4px 30px rgba(43, 98, 169, 0.5);
}
.profil-card__sosial a.twiter {
  background: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0 4px 30px rgba(13, 14, 16, 0.7);
}
.profil-card__sosial a.instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  box-shadow: 0 4px 30px rgba(13, 14, 16, 0.6);
}
.profil-card__sosial a.behance {
  background: linear-gradient(45deg, #1769ff, #213fca);
  box-shadow: 0 4px 30px rgba(13, 14, 16, 0.7);
}
.profil-card__sosial a.github {
  background: linear-gradient(45deg, #333333, #626b73);
  box-shadow: 0 4px 30px rgba(13, 14, 16, 0.7);
}
.profil-card__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media screen and (max-width: 576px) {
  .profil-card__actions {
    flex-direction: column;
    gap: 1.5rem;
  }
}
.profil-card__actions > button {
  font-weight: bold;
  font-size: 22px;
  padding: 15px 0;
  min-width: 250px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}
@media screen and (max-width: 567px) {
  .profil-card__actions > button:hover {
    transform: translateY(-5px);
  }
}
.profil-card__actions > button.biru {
  background: linear-gradient(45deg, #1da1f2, #0371c8);
  box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4);
}
.profil-card__actions > button.biru:hover {
  box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
}
.profil-card__actions > button.orange {
  background: linear-gradient(45deg, #d51351, #0371c8);
  box-shadow: 0 4px 30px rgba(19, 127, 212, 0.4);
}
.profil-card__actions > button.orange:hover {
  box-shadow: 0 7px 30px rgba(223, 45, 70, 0.75);
}/*# sourceMappingURL=style.css.map */